@model IEnumerable<BonksList.Models.Listing>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.imageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accountId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.imageUrl != null)
                    {
                        <img src="@item.imageUrl" alt="ListingImage" style="max-width: 200px; max-height: 200px;">
                    }
                    else
                    {
                        <span>No image provided</span>
                    }
                </td>
                <td>
                    @*@if (item.description.ToString().Length > 10)
                        {
                            string parameterValue = item.description.ToString().Substring(0, 10) + "...";
                            @parameterValue
                        }
                        else
                        {
                            Html.DisplayFor(modelItem => item.description);
                        }*@

                    @{

                        string parameterValue = item.description.ToString();
                        if (parameterValue.Length > 30)
                        {
                            parameterValue = parameterValue.Substring(0, 30) + " ...";
                        }
                    }

                    @parameterValue
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User) && User.Identity.Name == item.accountId.ToString())
                    {
                        <span>Owned Listing</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.accountId)
                    }
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User) && User.Identity.Name == item.accountId.ToString())
                    { 
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>     
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
